.form {
    border: 1px solid red;
    width:max-content;
    padding: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.form input {
    width: 300px;
    height: 40px;
    background: gainsboro;
    border: unset;
    border-radius: 10px;
    padding-left: 10px

}
.form label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding-left: 10px;
}
.btn {
    width: 100px;
    height: 40px;
    background: darkred;
    color: white;
    font-size: 14px;
    border: none;
}